ion-select,
ion-textarea,
ion-checkbox,
ion-input {    
    margin-top: 10px;
}

.formulario {
    margin-left: 10px;
    margin-right: 10px;
}

.icone-voltar {
    font-size: 30px;
}

ion-icon {
    padding-left: 5px;
}