h1 {
    text-align: center;
}

.card-colaborador {
    margin-top: 20px;    
    margin-left: 10px;
    margin-right: 10px;
}

.icone-home {
    font-size: 30px;
}

.icone-editar {
    font-size: 30px;
}