<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="d-flex">
    <ion-icon name="chevron-back-sharp" class="icone-home" [routerLink]="['']"></ion-icon>    
    <ion-title>Colaboradores</ion-title>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content color="dark">
  <div class="d-flex justify-content-center" *ngIf="semColaboradoes">
    <h1>
      Não existe colaboradores cadastrados
      <ion-icon name="person-circle-sharp"></ion-icon>
    </h1>
  </div>

  <div class="card-colaborador" *ngFor="let colaborador of colaboradores">
    <ion-card>
      <img [src]="colaborador.imagem" width="500px" />
      <ion-card-header>
        <ion-card-title>{{colaborador.nome}}, {{colaborador.idade}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Cargo: {{cargosEnumExibicao[colaborador.cargo || 0 ]}}
        <br>E-mail: {{colaborador.email}}
        <br>Celular: {{colaborador.celular}}       
        <br>Sexo: {{colaborador.sexo == 'M' ? 'Masculino' : 'Feminino'}}
        <br>Endereço: {{colaborador.endereco}}                
        <br>Descrição: {{colaborador.descricao}}
        <a *ngIf="colaborador.equipe"><br> Nome da Equipe: {{ equipeEnumExibicao[colaborador.nomeEquipe || 0]}}</a>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>