<ion-content color="dark">
    <ion-title class="titulo">CONTROLE DE COLABORADORES</ion-title>
    <div class="opcoes">
        <ion-button color="light" expand="block" [routerLink]="['./cadastro']">
            Cadastrar colaborador
            <ion-icon name="person-add-sharp"></ion-icon>
        </ion-button>

        <ion-button color="light" expand="block"  [routerLink]="['./colaboradores']">
            colaboradores
            <ion-icon name="person-sharp"></ion-icon>
        </ion-button>

        <ion-button color="light" expand="block">
            equipes
            <ion-icon name="people-sharp"></ion-icon>
        </ion-button>
    </div>
</ion-content>